.bgcolor{
    color: #fff !important;
    background-color: rgba(255, 176, 29, 0.925) !important;
    width: 35%;
    padding: .8em 0 !important;
    margin-top: .5em !important;
}

.width{
    width: 35%;
    margin: .5em 0;
}